* {
    margin: 0;
}
body {
    background-color: skyblue;
    background-image: url("https://wallpaperaccess.com/full/2160740.jpg");
    background-repeat:round;
}

.btns {
    width: 90%;
    display: inline-flex;
}

.img {
    position: relative;
    height: 1000px;
    margin-top: 50px;
}

.text {
    position: absolute;
    left: 2%;
    color: black;
    font-weight: bold;
    font-size: 30px;
    width: 300px;
    text-transform: capitalize;
    text-align: left;
    background-color: bisque;

}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    background-color: dodgerblue;
    border: 2px solid white;
    border-radius: 50%;
    text-transform: capitalize;
    color: black;
    cursor: pointer;
    transition: 300ms;
}

.btn:hover {
    transform: scale(1.2);
}

.welcome {
    width: 60%;
    margin: 10px 0 10px 10px;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: yellow;
    font-size: 30px;
}

span {
    padding-left: 5px;
    color: blue;
}

.pet-name {
    position: absolute;
    bottom: 90%;
    left: 40%;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 30px;
    width: 350px;
    text-align: center;
    background-color:aqua;   
}

.rule {
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background: bisque;
    text-align: center;
}
.rule  p {
    font-size: 20px;
    padding-bottom: 4px;
}

.night {
    background-image: url("https://media.wired.com/photos/60c3cdb670822d686edc9fa7/master/pass/Gear-Digital-Pets.jpg");
}

.pet {
    position: absolute;
    bottom: 50%;
    left: 45%;
    
}

.green {
    border: 2px solid lightgreen;
    box-shadow: 0 0 5px lightgreen;
}